[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NMF"]
	path = NMF
	url = https://github.com/renozao/nmf
[submodule "rngtools"]
	path = rngtools
	url = https://github.com/renozao/rngtools
