[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "doRNG"]
	path = doRNG
	url = https://github.com/renozao/dorng
	shallow = true
	registered = true
[submodule "rngtools"]
	path = rngtools
	url = https://github.com/renozao/rngtools
	shallow = true
	registered = true
[submodule "pkgmaker"]
	path = pkgmaker
	url = https://github.com/renozao/pkgmaker
	shallow = true
	registered = true
[submodule "NMF"]
	path = NMF
	url = https://github.com/renozao/nmf
	shallow = true
	registered = true
[submodule "roclets"]
	path = roclets
	url = https://github.com/renozao/roclets
	shallow = true
	registered = false
